body{
  font-family: sans-serif;
}
/*Esta es la nueva etiqueta contenedora de ul para hacerlo todo mas semnatico xq no es lista sino una barra de navegacion*/
nav{
  width:  200px;
}


ul{
   /*La propiedad outline no modifica nada  solo dibuja un contormo alrededor de la etiqueta*/
    /*outline: 1px solid yellow;*/
  /*Al poner la propiedad none, eliminara las viñetas  q estas predefinidas*/
    list-style: none;
    /*Poniendo cero a margin y padding se elimina xq aveces los nevegadores  lo tienen por defecto definido y por eso aparece el texto  corrido*/
    margin: 0;
    padding: 0;
  /*width:  200px;*/
    /* espaciado entre uno y otro item*/
    line-height: 30px;

}
 li{
   /*outline: 1px solid red;*/
   background: #f5f5f0;
 }
/* Existen diferente seudo clases para la etiqueta a
   Estado de los enlaces: loVe/HAte  link Visited hover active*/


 a{
   /*outline: 1px solid green;*/
   /*convertir de inline a block para q la Etiqueta a  ocupe  el total el espacio ul  y no solo dnd esta su contenido*/
   display: block;
   /*Para quitar el subrayado color q viene predefinido*/
   text-decoration: none;
   /*Se cambio el color de los items  de la lista a negro*/
   color: #000;
   /*Para q los item corran  10px a la izquierda como se muestra en el  ejemplo*/
   padding-left: 10px;
 }

/*Para que al pasar el mouse se cambie de color (usando seudo clases), se escoge el color de fondo*/
a:hover{
  background: #e0e0d1;
}

/*Para que al hacer click sobre un item el fondo sea de otro color
   y el color se pone blanco*/
a:active{
  background: #333;
  color: #fff;
}
 /*Para q solo el primer item salga amarillo se usa selectores decendientes con seudo clase: para el primer hijo de ul*/
 ul li:first-child{
   background: #f9a91a;
 }
 /*  Solo el primero item tenga  texto tenga letras blancas*/
 ul li:first-child a{
   color: #fff;
 }
 /*para cuando se pasa el mouse en el primer item, la letras  se vuelvan color negro*/
 ul li:first-child a:hover{
   color: #000;
 }
 /*cambiara letras  a color blanco cuando se hace click cuando se hace click en el primer item*/
 ul li:first-child a:active{
   color: #fff;
 }
